.ld-register {
  .left {
    max-width: 28.125rem;
    margin: auto;

    .main-title {
      font-weight: 800;
      margin-bottom: 2.5rem;

      .up {
        font-size: calc(var(--ld-font-size-base) + 2.375rem);
        display: block;
        margin-bottom: 0.4375rem;
      }

      .down {
        font-size: calc(var(--ld-font-size-base) + 1.375rem);
      }
    }

    .steps {
      display: block;
      font-weight: 800;
      font-size: calc(var(--ld-font-size-base) + 0.25rem);
      color: var(--ld-color-gray);
      margin-bottom: 0.8125rem;
    }

    .radio-buttons {
      margin-bottom: 2.625rem;

      .title {
        font-size: calc(var(--ld-font-size-base) + 0.5rem);
        font-weight: 800;
        margin-bottom: 1rem;
      }

      .ld-radio {
        margin-right: 4.375rem;
      }

      .buttons {
        margin-bottom: 10px;
      }
    }
  }
}

.role-invalid {
  font-size: 13.5px;
  color: orangered;
}
